<!DOCTYPE html>
<html lang="en" ng-app="checkme">
    <head>

        <title>A simple todo list, as I wish !</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Check your life, simplify each day !"/>

        <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/static/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css"/>
        <link rel="stylesheet" href="/static/bower_components/bootstrap-material-design/dist/css/ripples.min.css"/>
        <style type="text/css">
            .dropdown .dropdown-menu {
                margin-top: 0px;
                width: 20px;
            }
        </style>
    </head>

    <body>
        {% block body %}{% endblock %}
        <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/bower_components/angularjs/angular.min.js"></script>
        <script type="text/javascript" src="/static/app.js"></script>
        <script type="text/javascript" src="/static/bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
        <script type="text/javascript" src="/static/bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $.material.init();
                console.log('material initialized')
            });
        </script>

    </body>

</html>
