{% extends "base.html" %}
{% block body %}
    <style>
        .nopadding{
            padding: 0 !important;
        }
    </style>

    {% raw %}
    <div id="app-root" ng-controller="MainCtrl" style="overflow-x:hidden;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-6  col-lg-offset-3 col-xs-12 nopadding">
                    <div class="well well-sm">
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-xs-6">
                                <div class="dropdown">
                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    {{selectedCategory.text}}
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li>
                                        <a ng-click="selectCategory(category)" ng-repeat="category in categories">{{category.text}}</a>
                                    </li>
                                    <li>
                                        <div class="input-group" style="margin-left:3px;margin-right:3px;">
                                            <span class="input-group-btn btn-group-sm">
                                                <button class="btn btn-default" ng-click="newCategory()">
                                                    <span  class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                                </button>
                                            </span>
                                            <input ng-model="category" type="text" placeholder="New categpry" class="form-control input-sm" />
                                        </div>
                                    </li>
                                  </ul>
                                </div>
                            </div>

                            <div class="col-xs-6">
                                <button class="btn btn-default" ng-click="archive()">
                                    Archive <span  class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>



                        {% endraw %}
                            {% include 'checkboxes.html' %}
                            {% include 'addcheck.html' %}
                        {% raw %}

                        {% endraw %}
                            <div class="text-center">
                                <a href="/logout"><i>logout {{current_user.email}}</i></a>
                            </div>
                        {% raw %}
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endraw %}

{% endblock %}
