{% extends "base.html" %}
{% block body %}
    <style>
        .nopadding{
            padding: 0 !important;
        }
    </style>

    {% raw %}
    <div ng-controller="MainCtrl" style="overflow-x:hidden;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-6  col-lg-offset-3 col-xs-12 nopadding">
                    <div class="well well-sm"  style="min-height:500px">

                        {% endraw %}
                            {% include 'navbar.html' %}
                        {% raw %}

                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-xs-6">

                            </div>
                        </div>

                        {% endraw %}
                            {% include 'checkboxes.html' %}
                            {% include 'addcheck.html' %}
                        {% raw %}

                    </div>
                </div>
            </div>
        </div>

    </div>
    {% endraw %}

{% endblock %}
