{% raw %}
<div>
<!--ng-click="startChangePriority(check)"-->
    <button ng-show="!check.changepriority" style="margin-top:0px" ng-click="check.changepriority = true" ng-show="!check.changepriority" class="btn btn-default btn-raised btn-sm">{{check.priority}}</button>


    <div ng-show="check.changepriority">
        <div class="btn-group">
            <button type="button" ng-click="changePriority(check, 1)" class="btn btn-sm btn-raised">1</button>
            <button type="button" ng-click="changePriority(check, 2)" class="btn btn-sm btn-raised">2</button>
            <button type="button" ng-click="changePriority(check, 3)" class="btn btn-sm btn-raised">3</button>
            <button type="button" ng-click="changePriority(check, 4)" class="btn btn-sm btn-raised">4</button>
            <button type="button" ng-click="changePriority(check, 5)" class="btn btn-sm btn-raised">5</button>
        </div>
    </div>
</div>
{% endraw %}
