{% raw %}
    <div ng-mouseover="check.changepriority = true" ng-mouseout="check.changepriority = false" class="pull-right">
        <span ng-show="!check.changepriority" class="badge" >{{check.priority}}</span>
        <div ng-show="check.changepriority" class="dropdown">
            <button class="btn btn-default dropdown-toggle btn-xs" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{check.priority}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li  ng-repeat="priority in [1,2,3,4,5]">
                    <a ng-click="changePriority(check, priority)">{{priority}}</a>
                </li>
            </ul>
        </div>
    </div>
{% endraw %}
